@using WebSiteClothesStore.Models
@{

    Layout = "~/Views/HomeLayout/HomeLayout.cshtml";
}


@{
    IEnumerable<LoaiSanPham> listLoaiSanPham = (IEnumerable<LoaiSanPham>)ViewBag.ListCategory;
    IEnumerable<BangSanPham> listProduct = (IEnumerable<BangSanPham>)ViewBag.ListProduct;
}

@Html.Partial("~/Views/SanPhamIndex/ViewPartialCategory.cshtml", listLoaiSanPham)

<h1 style="text-align:center;">Sản phẩm được mua nhiều nhất</h1>
@Html.Partial("~/Views/SanPhamIndex/ViewPartialNewProducts.cshtml", listProduct)

<a class="test" href=""> Xác nhận</a>

<style>
    .{
      padding:10px 20px;
        background-color:greenyellow;
        text-decoration:none;
        border-radius:20px;
        color:black;
        font-size:16px;
        font-weight:900;
    }
        .test:hover {
            text-decoration: none;
        }
        a {
            text-decoration: none;
        }
</style>
<script>

</script>